<!DOCTYPE html>

{% extends 'flatpages/default.html' %}


{% block title %}
Post
{% endblock title %}


{% block content %}
    <h1>Все новости</h1>
        <h4 style="text-align: left;">{{'Всего новостей: '}}{{posts|length}}</h4>
        {% if posts %}
        <center>
            <table>
                <tr>
                    <td>{{'Дата создания'}}</td>
                    <td>{{'Заголовок'}}</td>
                    <td>{{'Текст'}}</td>
                </tr>
                {% for post in posts %}
                <tr>
                    <td>{{post.date_of_creation|date:'d.m.y'}}</td>
                    <td>{{post.heading}}</td>
                    <td>{{post.text|truncatechars:8}}</td>
                </tr>
                {% endfor %}
            </table>
        </center>
        {% else %}
            {{'Новостей нет!'}}
        {% endif %}
{% endblock content %}